<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DataVisualizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataVisualizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DataVisualizer.Properties.Settings>
            <setting name="MQTT_Message_Broker" serializeAs="String">
                <value>192.168.1.21</value>
            </setting>
            <setting name="MQTT_Client_ID" serializeAs="String">
                <value>MQTT_SUR40</value>
            </setting>
        </DataVisualizer.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup><userSettings>
        <DataVisualizer.Properties.Settings>
            <setting name="MQTT_Message_Broker_Port" serializeAs="String">
                <value>2883</value>
            </setting>
            <setting name="MQTT_Topic" serializeAs="String">
                <value>SUR40/</value>
            </setting>
            <setting name="UDP_Port" serializeAs="String">
                <value>2773</value>
            </setting>
            <setting name="UDP_IP" serializeAs="String">
                <value>192.168.5.1</value>
            </setting>
            <setting name="MQTT_Mode" serializeAs="String">
                <value>False</value>
            </setting>
        </DataVisualizer.Properties.Settings>
    </userSettings>
</configuration>
